<h1>{{ title }}</h1>

<input [value]="defaultInputValue" type="text">
<!--<img [src]="'https://pixabay.com/get/ea31b10d2df1013ed1584d05fb1d4f96e171e7d71aac104497f6c47ea1ebb1b9_1280.jpg'" alt="">-->

<h2>Hello, {{ name }}</h2>
<input [(ngModel)]="name" type="text">

<h2>Counter: {{ showCounter() }}</h2>
<button (click)="increment()">click me please</button>

<child></child>

<controls (onChanged)="changeCounter($event)" [noDecrement]="true"></controls>

<!-- ngFor -->
<list-users></list-users>

<!-- ngClass ngStyles -->
<dynamic-styles></dynamic-styles>
