<h1>Form Reactive</h1>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="name">User name</label>
        <input
                formControlName="name"
                type="text"
                class="form-control"
                id="name"
                placeholder="Enter name"
        >
        <small id="name-label" class="form-text text-muted">Format: 'first name last name'</small>
        <div *ngIf="form.controls['name'].errors?.required && form.controls['name'].touched" class="alert alert-danger" role="alert">
            Error: fill field
        </div>
        <div *ngIf="form.controls['name'].errors?.minlength && form.controls['name'].touched" class="alert alert-danger" role="alert">
            Error: min length 3
        </div>
        <div *ngIf="form.controls['name'].errors?.nameValidator && form.controls['name'].touched" class="alert alert-danger" role="alert">
            Error: fill firstName and lastName
        </div>
    </div>

    <div class="form-group">
        <label for="username">Login</label>
        <input
                formControlName="username"
                type="text"
                class="form-control"
                id="username"
                placeholder="Enter username"
        >
        <small id="username-label" class="form-text text-muted">Readonly field</small>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input
                formControlName="email"
                type="text"
                class="form-control"
                id="email"
                placeholder="Enter email"
        >
    </div>

    <div class="form-group">
        <label for="phone">Phone</label>
        <input
                formControlName="phone"
                type="text"
                class="form-control"
                id="phone"
                placeholder="Enter phone number"
        >
    </div>

    <div class="form-group">
        <label for="website">Website</label>
        <input
                formControlName="website"
                type="text"
                class="form-control"
                id="website"
                placeholder="Enter website"
        >
    </div>

    <h3>Addresses</h3>
    <button (click)="addAddress()" type="button" class="btn btn-primary">add adderess</button>
    <div formArrayName="addresses"
         *ngFor="let address of form.get('addresses').controls; let i = index;">
        <h4>Address #{{ i  + 1 }}</h4>
        <div [formGroupName]="i">
            <div class="form-group">
                <label for="phone">street</label>
                <input id="address{{ i }}}-street" formControlName="street" placeholder="street" class="form-control">
            </div>

            <div class="form-group">
                <label for="phone">suite</label>
                <input id="address{{ i }}}-suite" formControlName="suite" placeholder="suite" class="form-control">
            </div>

            <div class="form-group">
                <label for="phone">city</label>
                <input id="address{{ i }}}-city" formControlName="city" placeholder="city" class="form-control">
            </div>

            <div class="form-group">
                <label for="phone">zipcode</label>
                <input id="address{{ i }}}-zipcode" formControlName="zipcode" placeholder="zipcode" class="form-control">
            </div>
        </div>
        <hr>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Submit</button>
    </div>
</form>



