<nav>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Main</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="dashboard" routerLinkActive="active">dashboard</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
