<ul>
    <li>name: {{ user?.name }}</li>
    <li>username: {{ user?.username }}</li>
    <li>email: {{ user?.email }}</li>
    <li>phone: {{ user?.phone }}</li>
</ul>
<button (click)="showForm()" type="button" class="btn btn-primary">edit user</button>
<form-reactive [user]="user" *ngIf="isShowEditForm" (onSubmit)="onSubmit($event)"></form-reactive>
