.paragraph {
    font-size: 15px;
    color: grey;
}

.paragraph_red {
    color: red;
}

.title-icon:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../../../assets/icon/space-shuttle.svg') no-repeat;
}

.uppercase {
    text-transform: uppercase;
}
