<hr>
<h2>Динамическое добавление css классов</h2>
<p [ngClass]="cssClassesP">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, quis.</p>
<button (click)="onToggleClasses()">toggle red color p</button>

<hr>

<h3 [ngClass]="titleH3Styles">Test title h3</h3>
<button (click)="addIconForTitle()">add icon</button>
<button (click)="transformUppercase()">Uppercase title</button>
<button (click)="resetStyles()">reset classes</button>

