.model {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0, .5);
    width: 100%;
    height: 100%;
    display: flex;
}

.model__inner {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    background: #eaeaea;
}
