<div class="model" [hidden]="!isShowModel">
  <div class="model__inner">
    <div class="model__header">
      <h1>{{ title }}</h1>
      <button (click)="close()">close</button>
    </div>
    <div class="model__body">
      <ng-content></ng-content>
    </div>
  </div>
</div>

