<h1>Form template</h1>
<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
        <label for="name">User name</label>
        <input
            ngModel
            #userName="ngModel"
            name="name"
            [(ngModel)]="user.name"
            type="text"
            class="form-control"
            id="name"
            placeholder="Enter name"
            required
            minlength="3"
        >
        <small id="name-label" class="form-text text-muted">Format: 'first name last name'</small>
    </div>

    <div class="form-group">
        <label for="username">Login</label>
        <input
            ngModel
            #userName="ngModel"
            name="username"
            [(ngModel)]="user.username"
            type="text"
            class="form-control"
            id="username"
            placeholder="Enter username"
        >
        <small id="username-label" class="form-text text-muted">Readonly field</small>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input
                ngModel
                #userName="ngModel"
                name="email"
                [(ngModel)]="user.email"
                type="text"
                class="form-control"
                id="email"
                placeholder="Enter email"
        >
    </div>

    <div class="form-group">
        <label for="phone">Phone</label>
        <input
            ngModel
            #userName="ngModel"
            name="phone"
            [(ngModel)]="user.phone"
            type="text"
            class="form-control"
            id="phone"
            placeholder="Enter phone number"
        >
    </div>

    <div class="form-group">
        <label for="website">Website</label>
        <input
            ngModel
            #userName="ngModel"
            name="website"
            [(ngModel)]="user.website"
            type="text"
            class="form-control"
            id="website"
            placeholder="Enter website"
        >
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Submit</button>
</form>
